<div class="slds-notification-container">
  <div aria-live="assertive" aria-atomic="true" class="slds-assistive-text">Disclaimer about this currency</div>
  <section class="slds-notification" role="dialog" aria-labelledby="noti52" aria-describedby="dialog-body-id-2">
    <div class="slds-notification__body" id="dialog-body-id-2">
      <a class="slds-notification__target slds-media" href="javascript:void(0);">

<div class="slds-media__body">
<h2 class="slds-text-heading--small slds-m-bottom--xx-small" id="noti52">
<span class="slds-assistive-text">event notification:</span>Disclaimer about this currency</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur repellat molestias ut eius nulla assumenda ipsam sint repellendus.</p>
</div>
</a>
      <button class="slds-button slds-button_icon slds-button--icon-container slds-notification__close" title="Dismiss Modal" (click)="closePopup()">
        <svg class="slds-button__icon" aria-hidden="true">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/symbols.svg#close" />
        </svg>
        <span class="slds-assistive-text">Disclaimer about this currency</span>
      </button>
    </div>
  </section>
</div>

